<% content_for :title do "WhatsTheDiff | Learn More" end %>

<section id="intro">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="text-center"><%=link_to "WhatsTheDiff", root_path %> </h1>
      <h2 class="text-center">Email List Sharing Solutions</h2>
    </div>
  </div>
</section>

<section id="step_one">
  <div class="row">
    <div class="small-12 columns">
      <h4>Step One:</h4>
      <p>Start a new project (show screen shots or something?)</p>
    </div>
  </div>
</section>

<section id="step_two">
  <div class="row">
    <div class="small-12 columns">
      <h4>Step Two:</h4>
      <p>Upload your email list, and an email is sent automatically to whoever you want to compare lists with</p>
    </div>
  </div>
</section>

<section id="step_three">
  <div class="row">
    <div class="small-12 columns">
      <h4>Step Three:</h4>
      <p>They follow the email link and upload their email list</p>
    </div>
  </div>
</section>

<section id="step_four">
  <div class="row">
    <div class="small-12 columns">
      <h4>Step Four:</h4>
      <p>Both parties receive a comparison of the lists, including number of unique contacts and duplicates</p>
    </div>
  </div>
</section>

<section id="step_five">
  <div class="row">
    <div class="small-12 columns">
      <h4>Step Five:</h4>
      <p>When ready, share your lists and receive only the unique contacts</p>
    </div>
  </div>
</section>

<section id="get_started">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="text-center">Get up and running in <em><%=link_to "seconds", new_project_path %></em>...</h4>
    </div>
  </div>
</section>