<div class="row">
  <h4>Hi <%= @user.full_name %>, this a new project. Upload your file.</h4>
  <p> We are going to do this with javascript </p>
</div>
<div id="sourceImportCsv" class="fileupload ">  
    <fieldset>
        <legend>Upload your CSV File</legend>
        	<%#https://cmatskas.com/importing-csv-files-using-jquery-and-html5/%>
        	<%#http://www.w3.org/TR/html-markup/input.file.html%>
            <input type="file" name="File Upload" id="sourceFileUpload" accept=".csv" />
   </fieldset>
</div>
<div id="sourceCsvPreUploadDisplay"></div>
<div id="uploadCsv" style="display:none;">
	 <form id='sourceUploadCsvForm'>
	 Choose a column to be the unique id: <%= select_tag "uuid" %>
   Which fields to hash then upload:
   <div id="fieldsForUpload"></div>
	 <button id="submitSourceCsv" data-submit-url="<%= upload_source_data_project_path(@project)%>">upload data</button>
  </form>
</div>