<div>
  <p>You uploaded <span data-bind="text: parent.source_rows_uploaded"></span> rows</p>
  <p>Who do you want to compare lists with?</p>
  <input type="email" data-bind="value: target_email" />
  <button data-bind="click: submit">Submit</button>
</div>