<% content_for :title, "WhatsTheDiff | Project #{@project.id}" %>

<div class="row">
  <div class="text-center"><h1>Project Page</h1></div>
</div>

<%if flash[:notice] %>
  <div data-alert class="alert-box alert">
    <%= flash[:notice] %>
  </div>
<%end%>

<%= render "project_#{@project.state}" %>